{% extends "base.html" %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/accounts.css' %}">{% endblock %}

{% block title %}Sign Up | Classic Impressions{% endblock %}

{% block content %}
<section class="accounts-section">
  <div class="accounts-card">

    <h1 class="accounts-title">Create an account</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="accounts-btn">Sign up</button>
    </form>
  </div>
</section>


  <p>Already have an account? <a href="{% url 'login' %}">Log in here</a>.</p>
{% endblock %}
