{% extends 'base.html' %}

{% block title %}FAQs - Classic Impressions{% endblock %}

{% block content %}
<section></section>
<div class="section-card">
    <h1>Frequently Asked Questions</h1>

        <p>
            Here are some of the most common questions we receive about our products and services. 
            If you have a question that isn't answered here, please feel free to <a href="/contact">contact us</a>.
        </p>
</div>

<div class="section-card">
    <h2>What is Classic Impressions?</h2>
    <p>
        Classic Impressions specializes in high-quality architectural details and decorative pieces that 
        bring classical elegance to interior spaces. Our products are crafted using advanced materials 
        and traditional techniques to ensure durability and exquisite detail.
    </p>
</div>

<div class="section-card">
    <h2>What materials are used in your products?</h2>
    <p>
        We use a proprietary High-Density Architectural 
        Composite resin known for its exceptional detail retention, durability, and stability.
    </p>
</div>

<div class="section-card">  
<h2>How do I care for and maintain my Classic Impressions pieces?</h2>
    <p>
        Our pieces are designed for easy maintenance. 
        Regular dusting and occasional cleaning with a damp cloth will keep them looking their best. 
        Avoid harsh chemicals.
    </p>
</div>

<div class="section-card">
    <h2>Do you offer custom finishes?</h2>
    <p>
        Yes, we offer bespoke finishes including Aged Limestone, 
        Verdigris Copper, and Faux Marble to suit your design needs.
    </p>
</div>

<div class="section-card">
    <h2>Can I order a sample before making a purchase?</h2>
    <p>
        Please contact our customer service team to inquire about sample availability for specific products.
    </p>
</div>

<div class="section-card">
    <h2>What is your return policy?</h2>
    <p>
        We accept returns within 30 days of purchase, 
        provided the items are in their original condition. 
        Please refer to our return policy page for more details.
    </p>
</div>

<div class="section-card">
    <h2>How long does shipping take?</h2>
    <p>
        Shipping times vary based on location and product availability. 
        Typically, orders are processed within 3-5 business days and shipping can take an additional 5-10 business days.
    </p>
</div>
</section>

{% endblock %}